<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="w-full max-w-sm bg-white shadow-lg rounded-lg p-8"
  >
    <!-- Título -->
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">
      🔐 Iniciar Sesión
    </h2>

    <!-- Campo Email -->
    <div class="mb-4">
      <label for="email" class="label-style">Correo Electrónico</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [ngClass]="{
          'border-red-500': email?.invalid && (email?.dirty || email?.touched)
        }"
      />
      <p
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="error-message"
      >
        <span *ngIf="email?.errors?.['required']"
          >⚠️ El correo es requerido</span
        >
        <span *ngIf="email?.errors?.['email']"
          >⚠️ Formato de correo inválido</span
        >
      </p>
    </div>

    <!-- Campo Contraseña -->
    <div class="mb-4">
      <label for="password" class="label-style">Contraseña</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [ngClass]="{
          'border-red-500':
            password?.invalid && (password?.dirty || password?.touched)
        }"
      />
      <p
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="error-message"
      >
        ⚠️ La contraseña es requerida
      </p>
    </div>

    <!-- Botón de Ingreso -->
    <button
      type="submit"
      class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-75 disabled:opacity-50"
      [disabled]="loginForm.invalid || loading"
    >
      <span *ngIf="!loading">🚀 Ingresar</span>
      <span *ngIf="loading">⏳ Cargando...</span>
    </button>

    <!-- Mensaje de error general -->
    <p *ngIf="error" class="text-center text-red-500 text-xs mt-3">
      ❌ {{ error }}
    </p>
  </form>
</div>
