<!-- <h1 class="text-lg font-bold mb-2">Cambiar Estado</h1>
<form (ngSubmit)="onSubmit()">
    <div>
        <label for="estado" class="block text-sm font-medium text-gray-700">Nuevo Estado:</label>
        <select id="estado" formControlName="estado" class="form-control">
            <option value="pendiente">Pendiente</option>
            <option value="en_proceso">En Proceso</option>
            <option value="completado">Completado</option>
        </select>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="estadoForm.invalid">Cambiar Estado</button>
    </div>
</form> -->
